/* (c)2014 Kalamun.org GPLv3 */

/* typography */
/* INIT */
* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background: transparent;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}
html,body {
	width:100%;
	height:100%;
	}
body {
	line-height:1;
	font-size:12pt;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin:0;
	padding:0;
	}
ol,ul {
	padding-left:2em;
	}
li {
	margin:.3em;
	}
blockquote {
	quotes: none;
	}
blockquote:before,blockquote:after {
	content:'';
	content:none;
	}
:focus {
	outline:0;
	}
table {
	border-style:none;
	border-collapse:separate;
	border-spacing:0;
	border:0;
	}
table td {
	padding:2px;
	vertical-align:top;
	}
img {
	vertical-align:middle;
	border:0;
	}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	margin:20px 0;
	padding:0;
	}
h1 {
	font-size:2.5em;
	}
h2 {
	font-size:2.2em;
	}
h3 {
	font-size:1.4em;
	}
h4 {
	font-size:1.3em;
	}
h5 {
	font-size:1.2em;
	}
h6 {
	font-size:1.1em;
	}
p {
	margin:.8em 0;
	}
small {
	font-size:.85em;
	}
iframe,
object,
embed,
audio,
video {
	max-width:100%;
	}

 
@font-face {
    font-family: 'icons';
    src: url('fonts/icons.eot');
    src: url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		 url('fonts/icons.woff2') format('woff2'),
         url('fonts/icons.woff') format('woff'),
         url('fonts/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* tags */
body {
	font-family:'LoricaText',Arial,Helvetica,Tahoma,sans-serif;
	font-size:16px;
	line-height:1.6em;
	color:#646464;
	margin:0;
	padding:0;
	background:#fff;
}
a {
	color:#6992C0;
	text-decoration:none;
}
a:hover {
	color:#96C7E8;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'LoricaTitle',Arial,Helvetica,Tahoma,sans-serif;
	font-weight:normal;
	line-height:1.2em;
	margin:40px 0 10px 0;
	text-transform:uppercase;
	color:#052B40;
	text-shadow:0 2px 0 #fff;
}
h1 {
	font-size:1.9em;
}
h2 {
	font-size:1.4em;
}
h3 {
	font-size:1.2em;
}
h4 {
	font-size:1.1em;
}
input,select,textarea {
	background-color:#f0f0f0;
	border:0;
	font-family:'LoricaText',Arial,Helvetica,Tahoma,sans-serif;
	padding:5px 10px;
	font-size:1em;
	width:250px;
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.3);
	resize:none;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
textarea {
	width:400px;
	height:200px;
}
input:focus,select:focus,textarea:focus {
	background-color:#fff;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
}
input[type=submit],input[type=button], a.button, .button a {
	font-size:18px;
	color:#fff;
	padding:5px 15px;
	background-color:#052B40;
	display:inline-block;
	transition:background-color .3s ease-in-out;
	cursor:pointer;
	text-transform:uppercase;
	transition:background-color .3s ease-in-out;
	text-align:center;
	width:auto !important;
}
input[type=submit]:hover,input[type=button]:hover, a.button:hover ,.button a:hover {
	background-color:#075079;
}
input[type=checkbox], input[type=radio] {
	width:auto;
	margin-right:10px;
}
label {
	cursor:pointer;
}
.submit {
	text-align:center;
}
input#nascondi {
	position:absolute;
	top:-1000px;
	left:-1000px;
}
.button a {
	font-size:1em !important;
	position:relative;
	z-index:2;
	}
.button {
	display:inline-block;
	position:relative;
	font-size:1em !important;
	margin:25px 0;
	z-index:2;
}
.button a .title {
	position:absolute;
	bottom:100%;
	left:0;
	margin-bottom:3px;
	background-color:#444;
	color:#fff;
	font-size:14px;
	white-space:nowrap;
	padding:0 5px;
	display:none;
}
.button a .title:after {
	content:'';
	position:absolute;
	left:20px;
	bottom:-5px;
	border-top:5px solid #444;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom:0;
}
.button a:hover .title {
	display:block;
}

input[type=checkbox] {
	width:auto;
}
cite {
	display:inline-block;
	font-family:Georgia,"Times New Roman",serif;
	font-size:1.2em;
	padding-left:30px;
	background:url('../img/cite.png') top left no-repeat transparent;
	color:#5A6567;
	width:80%;
	margin:10px 0;
}
quote {
	width:30%;
	display:block;
	font-size:2em;
	margin:20px;
	padding:10px 0;
	border:5px solid #5A6567;
	border-left:0;
	border-right:0;
}
table {
	border:0;
	border-collapse:collapse;
}
table td {
	vertical-align:top;
	padding:10px 15px;
}


/* grid */
.row { max-width:1200px; position:relative; clear:both; margin:0 auto; opacity:1; }
.row:after { content: ''; display: block; clear: both; }
.column { float:left; }
.clearBoth { clear:both; }
.grid { margin:0 15px; position:relative; }
.grid.center {	margin:0 auto !important; }
.grid.nomargin { margin:0; }
.grid img,.grid object,.grid element,.grid iframe { max-width:100%; height:auto; }
.grid object,.grid element,.grid iframe { min-height:400px; }
.grid object,.grid element { min-height:300px; }
.grid>h1:first-child,.grid>h2:first-child,.grid>h3:first-child,.grid>h4:first-child,.grid>h5:first-child,.grid>h6:first-child { margin-top:0; }

/* old_grid */
/*
.grid.w1 { width:calc(8.3333% - 30px); }
.grid.w2 { width:calc(16.6666% - 30px); }
.grid.w3 { width:calc(25% - 30px); }
.grid.w4 { width:calc(33.3333% - 30px); }
.grid.w5 { width:calc(41.6665% - 30px); }
.grid.w6 { width:calc(50% - 30px); }
.grid.w7 { width:calc(58.3335% - 30px); }
.grid.w8 { width:calc(66.6667% - 30px); }
.grid.w9 { width:calc(75% - 30px); }
.grid.w10 { width:calc(83.3334% - 30px); }
.grid.w11 { width:calc(91.6667% - 30px); }
.grid.w12 { width:calc(100% - 30px); }
.grid.w1.nomargin { width:8.3333%; }
.grid.w2.nomargin { width:16.6666%; }
.grid.w3.nomargin { width:25%; }
.grid.w4.nomargin { width:33.3333%; }
.grid.w5.nomargin { width:41.6665%; }
.grid.w6.nomargin { width:50%; }
.grid.w7.nomargin { width:58.3335%; }
.grid.w8.nomargin { width:66.6667%; }
.grid.w9.nomargin { width:75%; }
.grid.w10.nomargin { width:83.3334%; }
.grid.w11.nomargin { width:91.6667%; }
.grid.w12.nomargin { width:100%; }
*/
/* fine old_grid */

/* new_grid */
.grid {
	margin:0 15px;
	position:relative;
}
.grid.w1 {
	width:60px;
}
.grid.w2 {
	width:150px;
}
.grid.w3 {
	width:240px;
}
.grid.w4 {
	width:330px;
}
.grid.w5 {
	width:420px;
}
.grid.w6 {
	width:510px;
}
.grid.w7 {
	width:600px;
}
.grid.w8 {
	width:690px;
}
.grid.w9 {
	width:780px;
}
.grid.w10 {
	width:870px;
}
.grid.w11 {
	width:960px;
}
.grid.w12 {
	width:1050px;
}
.grid.w1.nomargin {
	width:90px;
}
.grid.w2.nomargin {
	width:180px;
}
.grid.w3.nomargin {
	width:270px;
}
.grid.w4.nomargin {
	width:360px;
}
.grid.w5.nomargin {
	width:450px;
}
.grid.w6.nomargin {
	width:540px;
}
.grid.w7.nomargin {
	width:630px;
}
.grid.w8.nomargin {
	width:720px;
}
.grid.w9.nomargin {
	width:810px;
}
.grid.w10.nomargin {
	width:900px;
}
.grid.w11.nomargin {
	width:990px;
}
.grid.w12.nomargin {
	width:1080px;
}
.grid.center {
	margin:0 auto !important;
}
.grid.nomargin {
	margin:0;
}
/* fine new_grid */

.grid.padding-15 { padding:15px; }
.grid.padding-30 { padding:30px; }
.grid.padding-60 { padding:60px; }
.margin-top-15 { margin-top:15px; }
.margin-bottom-15 { margin-bottom:15px; }
.margin-top-30 { margin-top:30px; }
.margin-bottom-30 { margin-bottom:30px; }
.grid.padding-60 { padding:60px; }
.margin-top-60 { margin-top:60px; }
.margin-bottom-60 { margin-bottom:60px; }
.grid.padding-90 { padding:90px; }
.margin-top-90 { margin-top:90px; }
.margin-bottom-90 { margin-bottom:90px; }
.grid.padding-120 { padding:120px; }
.margin-top-120 { margin-top:120px; }
.margin-bottom-120 { margin-bottom:120px; }
.hidden { display:none; }
.clearBoth { clear:both; }
.alignleft { float:left; margin:0 20px 10px 0; }
.alignright { float:right; margin:0 0 10px 20px; }
.aligncenter, img.aligncenter, object { clear: both; display: block; margin-left: auto; margin-right: auto; text-align:center; }

.alignleft,
.thumb.alignleft {
	float:left;
	text-align:left;
	margin:0 20px 10px 0;
}
.alignright,
.thumb.alignright {
	float:right;
	text-align:right;
	margin:0 0 10px 20px;
}
p.alignleft {
	float:none;
}
p.alignright {
	float:none;
}
.aligncenter {
	text-align:center;
}
.alignjustify {
	text-align:justify;
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child { margin-top:0; }

.thumb {
	display:inline-block;
	max-width:300px;
	overflow:hidden;
}
.readMore {
	background-color:#4382B4;
	color:#fff;
	display:inline-block;
	padding:0px 10px;
	font-size:.8em;
}
.readMore:hover {
	color:#fff;
	background-color:#E2AB00;
}

.titleBox {
	position:relative;
	text-align:left;
	font-size:1.2em;
	padding:20px 0;
}
.titleBox h1,.titleBox h2 {
	margin:5px 0;
}
.titleBox h1 {
	font-size:32px;
	text-transform:none;
}
.titleBox h2 {
	font-size:20px;
}
.contentsBox {
	margin:30px 0;
	text-align:justify;
}
.contentsBox h1,
.contentsBox h2,
.contentsBox h3,
.contentsBox h4,
.contentsBox h5,
.contentsBox h6 {
	text-align:left;
}

#pageGallery {
	margin:40px 0;
}
.phgthumb {
	margin:20px 0;
	text-align:center;
	clear:both;
}
.phgthumb.vertical {
	max-width:325px;
}
.phgthumb.vertical {
	max-width:100%;
}
.phgthumb.left {
	float:left;
}
.phgthumb.right {
	float:right;
	clear:none;
}
.phgthumb img {
	max-height:500px;
	width:auto;
}

/* header */
.languages {
	float:right;
	padding:0px 10px;
}
.languages ul {
	margin:0;
	padding:0;
	list-style:none;
}
.languages li {
	display:inline;
}
.languages li a {
	padding:0 3px;
}
.languages li a.sel {
	color:#000;
}

#header {
	position:relative;
	margin:0;
	padding:50px 0 20px 0;
}
#header .logo h2 {
	margin:30px 0;
	text-align:center;
}
#header .details {
	font-size:.8em;
	line-height:1.2em;
	padding-top:80px;
}

.author {
	padding:10px 0;
	border-top:1px solid #E9EEF0;
	border-bottom:1px solid #E9EEF0;
	margin:0 0 10px 0;
	font-size:12px;
	line-height:1.2em;
}
.author img {
	float:left;
	margin-right:10px;
	width:70px;
}
.author strong {
	font-size:16px;
}

.pageSocials {
	margin:30px 0;
}
.pageSocials a {
	position:relative;
	display:inline-block;
	background-color:#052B40;
	color:#fff;
	vertical-align:middle;
	height:32px;
	padding:5px 10px;
	margin:0 0 5px 32px;
	box-sizing:border-box;
	width:85px;
	font-size:14px;
}
.pageSocials .icon {
	position:absolute;
	left:-32px;
	top:0;
	font-family:'icons';
	font-size:32px;
	line-height:31px;
	color:#B9BDBF;
}

#header .siteroll {
	font-size:14px;
	text-align:center;
	list-style:none;
}
#header .siteroll li {
	display:inline-block;
	margin:5px 15px;
	padding:5px;
	text-align:left;
	color:#052B40;
	line-height:1em;
	box-shadow:0;
	transition:box-shadow .3s ease-in-out;
}
#header .siteroll li a {
	color:#052B40;
}
#header .siteroll li:hover {
	box-shadow:0 3px 0 0 #052B40;
}
#header .siteroll strong {
	display:block;
	font-weight:normal;
}
#header .siteroll small {
	display:block;
	color:#888;
	font-size:12px;
}

#header .navBar {
	font-size:18px;
	text-align:center;
	list-style:none;
}
#header .navBar .openMenu {
	display:none;
}
#header .navBar li {
	display:inline-block;
	margin:5px 10px;
	padding:5px;
	text-align:left;
	color:#052B40;
	line-height:1em;
	box-shadow:0;
	transition:box-shadow .3s ease-in-out;
}
#header .navBar li a {
	color:#052B40;
	white-space:nowrap;
}
#header .navBar li:hover,
#header .navBar li.sel,
#header .navBar li.ancestor {
	box-shadow:0 3px 0 0 #052B40;
}
#header .navBar strong {
	display:block;
	font-weight:normal;
}
#header .navBar small {
	display:block;
	color:#888;
	font-size:12px;
}
.navBar ul li {
	display:inline-block;
	position:relative;
}
.navBar ul ul li:hover a {
	color:#E1DCCE;
}
.navBar ul li ul {
	position:absolute;
	z-index:200;
	top:100%;
	left:0;
	background-color:#e0e0e0;
	border-top:3px solid #052B40;
	display:none;
	font-size:.9em;
	padding:0;
	text-align:left;
}
.navBar ul>li:hover>ul {
	display:block;
}
.navBar ul ul li a {
	display:block;
	padding:5px 15px;
	border:0;
	margin:0;
}
#header .navBar ul ul li {
	padding:0;
	margin:0;
	display: block;
	box-shadow: none !important;
	padding: 2px 0;
}
#header .navBar ul ul li,
#header .navBar ul ul li:hover {
	box-shadow:none;
}
.navBar ul ul li a:hover {
	background-color:#E9EEF0;
}
.navBar ul ul li ul {
	left:100%;
	top:0;
	display:none;
	background-color:#E9EEF0;
	padding:0;
}
.navBar ul ul li:hover ul {
	display:block;
}
.navBar ul ul ul li a:hover {
	background-color:#1C1000;
}

#topstripe {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:8px 0;
	border-top:5px solid #052b40;
	font-size:.75em;
	text-align:left;
	z-index:1500;
	background:transparent;
	transition:background .3s ease-in-out;
}
#topstripe.onScroll {
	background:#fff;
	background:rgba(255,255,255,.9);
}
#topstripe .logo {
	opacity:0;
	transition:opacity .3s ease-in-out;
	padding:2px 10px;
	display:block;
}
#topstripe .logo h2 {
	margin:5px;
}
#topstripe .logo img {
	max-height: 50px;
}
#topstripe.onScroll .logo {
	opacity:1;
}
#topstripe .socials {
	font-family:'icons';
	float:right;
}
#topstripe .socials a {
	display:inline-block;
	color:#052b40;
	font-size:32px;
	margin:3px;
}
#topstripe .socials a:hover {
	color:#075079;
}
#topstripe .cartWidget {
	position:relative;
	background-color:transparent;
	padding:7px;
	float:right;
}
#topstripe .cartWidget .cartSummary {
	position:absolute;
	top:100%;
	right:0;
	background-color:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.3);
	padding:10px;
	display:none;
}
#topstripe .cartWidget:hover .cartSummary {
	display:block;
}

#topstripe .cartWidget h2 {
	margin:0;
}
#topstripe .cartWidget .cartSummary table {
	white-space:nowrap;
}

.nav_lat ul {
	list-style:none;
	padding:0;
	margin:0;
}
.nav_lat ul a {
	display:block;
	padding:5px 10px;
	border-top:1px solid #E9EEF0;
}
.nav_lat ul li.selected a {
	background-color:#E9EEF0;
}


/* sections */
.featuredImage {
	border-top:5px solid #052b40;
	box-shadow:0 5px 10px -3px rgba(0,0,0,.3);
}
.featuredImage img {
	width:100%;
	height:auto;
}
.date {
	padding:30px 0;
	color:#b9bdbf;
	text-align:right;
	line-height:1.2em;
	font-size:16px;
}
.date strong {
	display:block;
	font-size:30px;
	font-weight:normal;
	height:30px;
}
.date small {
	display:inline-block;
	border-top:1px solid #d9dddf;
	font-style:none;
}
.secondaryNews {
	margin-top:20px;
}
.compact .secondaryNews {
	margin-top:10px;
	font-size:.9em;
	line-height:1.3em;
}
.newslist .secondaryNews.even {
	width:50%;
	float:left;
	clear:left;
	padding:30px;
}
.newslist .secondaryNews.odd {
	width:50%;
	float:right;
	padding:30px;
}
.newslist .secondaryNews .dateBox {
	width:20%;
}
.newslist .secondaryNews .previewBox {
	width:60%;
}
.compact .preview {
	padding:0;
}
.compact .date {
	padding:10px 0;
}
.preview {
	padding:21px 0;
	color:#646260;
}
.preview h2 {
	margin:0;
	font-size:32px;
	line-height:1.3em;
	text-transform:none;
}
.preview h3 {
	margin:0;
	font-size:22px;
	line-height:1.3em;
}
.secondaryNews h2 {
	font-size:24px;
}
.secondaryNews h3 {
	font-size:18px;
}

/* shop */
.cartWidget .cart-container {
	background-color:#F0F0F0;
	padding:30px;
}
#topstripe .cartWidget .cart-container {
	background-color:transparent;
	padding:0;
}
.cartWidget table {
	width:100%;
}
.cartWidget table tr {
	border-bottom:1px solid #d0d0d0;
}
.cartWidget table th {
	font-size:.6rem;
	font-weight:normal;
	text-transform:uppercase;
	text-align:left;
}
.cartWidget table td {
	padding:5px 10px 5px 0;
}
.cartWidget table td.qty,
.cartWidget table td.price {
	white-space:nowrap;
}
.cartWidget table td.price {
	text-align:right;
	padding-right:0;
}
.cartWidget .button {
	margin:0;
}
.cartWidget .totalamount {
	font-weight:bold;
	margin-top:10px;
}

.loginForm {
	border:1px solid #eee;
	padding:10px 0;
}
.loginForm .grid {
}
.loginForm label {
	display:inline-block;
	margin-right:5px;
}
.loginForm input {
	width:60%;
}
.loginForm .submit {
	text-align:right;
}
.loginForm .submit input[type=submit] {
	padding:2px 15px;
}
.cartForm .box {
	height:0;
	transition:height .3s ease-in-out;
	overflow:hidden;
}

.shoplist>a {
	display:block;
}
.shoplist .price {
	text-align:center;
}
.shoplist .price ins {
	display:inline-block;
	white-space:nowrap;
	text-decoration:none;
	border-top:1px solid #eee;
	margin-top:4px;
}
.shoplist h2 {
	font-size:1.4rem;
	line-height:1.3em;
}
.shoplist h3 {
	font-size:1.1rem;
	line-height:1.3em;
}
.shoplist p {
	margin:0;
}
.priceBox {
	font-size:2em;
	line-height:1.3em;
	white-space:nowrap;
	text-align:center;	
	}
.addToCartBox {
	}
#addToCart,#addToCartAdded {
	font-size:1.2em;
	background-color:#494949;
	color:#fff;
	padding:0 15px;
	line-height:2em;
	text-transform:uppercase;
	display:block;
	text-align:center;
	overflow:hidden;
	transition:height .2s linear,background-color .2s linear;
	height:2em;
	}
#addToCart:hover {
	cursor:pointer;
	background-color:#888;
	}
#addToCartAdded {
	background-color:#333;
	height:0;
	}
.added #addToCart {
	height:0;
	background-color:#111;
	}
.added #addToCartAdded{
	height:2em;
	}

/* photogallery */
.photoGallery {
	margin:40px 0;
}
.photoGallery a {
	display:block;
	height:120px;
	overflow:hidden;
	margin:10px 0;
	border:2px solid #fff;
	box-shadow:0 0 3px 0 #aaa;
	background-size:cover;
	background-position:center center;
}


/* news */
.newsList a {
	color:#bdbdbd;
}

	
	
/* footer */
.newsletter {
	background-color:#3d3d3d;
	padding:20px;
	color:#eee;
}
.newsletter > h2 {
	color:#fff;
	margin:6px 10px 0 0;
	text-shadow:none;
}
.newsletter > p {
	margin:0;
}
.newsletter .submit {
	text-align:right;
}
.newsletter input {
	width:100%;
	margin:2px 0;
}
.newsletter input[name=nl_leaveEmpty] {
	position:absolute;
	left:-3000px;
}
.newsletter input[type=submit] {
	background-color:#1e1e1e;
}
.newsletter input[type=submit]:hover {
	background-color:#000;
}
.newsletter .nl_loading {
	background-color:#888;
	color:#fff;
	text-align:center;
	padding:2px;
	display:none;
}
.newsletter .nl_success {
	background-color:#00ca00;
	color:#fff;
	text-align:center;
	padding:2px;
	display:none;
}
.newsletter .nl_fail {
	background-color:#ca0000;
	color:#fff;
	text-align:center;
	padding:2px;
	display:none;
}
.newsletter .show {
	display:block !important;
}

#topstripe .newsletter.subscribe {
	text-align:center;
	padding:3px 0;
	margin-top:-10px;
}
#topstripe .newsletter.subscribe > h2,
#topstripe .newsletter.subscribe form,
#topstripe .newsletter.subscribe input {
	display:inline-block;
}
#topstripe .newsletter.subscribe input {
	width:auto;
	min-width:300px;
}
#topstripe .newsletter.subscribe input[type=submit] {
	min-width:0;
}
#topstripe .newsletter.subscribe br,
#topstripe .newsletter.subscribe > p {
	display:none;
}
#topstripe .newsletter.subscribe .submit {
	display:inline-block;
}


footer {
	margin-top:50px;
	padding:20px 0;
	background-color:#052b40;
	color:#aaa;
	line-height:1.2em;
	font-size:1.1em;
	color:#e9eef0;
}
footer h1,#footer h2,#footer h3,#footer h4 {
	margin:0;
}
footer .siteroll {
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
footer .siteroll small {
	color:#E9EEF0;
}
/**/


/* @group lightbuzz */
#lightBuzzContainer {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1010;
	overflow:hidden;
}
#lightBuzzContainer .bkg {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#111;
	color:#aaa;
	opacity:0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#lightBuzzContainer .bkg.loading {
}
#lightBuzzContainer .bkg h1 {
	text-align:center;
	margin:0;
	padding:10px;
	color:#aaa;
	font-size:1.4em;
	opacity:0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#lightBuzzContainer .bkg h2 {
	text-align:center;
	margin:0;
	padding:10px;
	color:#fff;
	font-size:1.3em;
}
#lightBuzzContainer .bkg .cover {
	position:absolute;
	top:0;
	left:30%;
	right:30%;
	text-align:center;
	opacity:1;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	font-size:1.2em;
	line-height:1.2em;
	color:#888;
}
#lightBuzzContainer .bkg .cover img {
	display:none;
}
#lightBuzzContainer .bkg .close {
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	z-index:500;
}
#lightBuzzContainer .container {
	position:absolute;
	top:0;
	left:0;
	width:auto;
}
#lightBuzzContainer .container img {
	border:5px solid #fff;
	box-shadow:0 2px 5px 0 #000;
}
#lightBuzzContainer .caption {
	position:absolute;
	width:100px;
	margin:0;
	right:-120px;
	bottom:0;
	background-color:#fff;
	z-index:1005;
	padding:5px;
	box-shadow:0 2px 5px 0 #000;
	font-size:.9em;
	line-height:1.2em;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#lightBuzzContainer .leftArrow {
	position:absolute;
	left:0;
	top:300px;
	width:130px;
	height:130px;
	cursor:pointer;
	background:url('../img/leftArrow.png') top right no-repeat transparent;
	z-index:1000;
	-webkit-transition: width .5s ease-in-out;
	-moz-transition: width .5s ease-in-out;
	-o-transition: width .5s ease-in-out;
	transition: width .5s ease-in-out;
	opacity:.5;
}
#lightBuzzContainer .rightArrow {
	position:absolute;
	right:0;
	top:300px;
	width:130px;
	height:130px;
	cursor:pointer;
	background:url('../img/rightArrow.png') top left no-repeat transparent;
	z-index:1000;
	-webkit-transition: width .5s ease-in-out;
	-moz-transition: width .5s ease-in-out;
	-o-transition: width .5s ease-in-out;
	transition: width .5s ease-in-out;
	opacity:.5;
}
#lightBuzzContainer .rightArrow:hover,#lightBuzzContainer .leftArrow:hover {
	opacity:1;
}
/* end lightbuzz */


/* photogallery */
#photogalleryBox {
	position:relative;
	height:400px;
	width:920px;
	margin:0 0 25px 0;
	overflow:hidden;
}
#photogalleryBox img {
	cursor:pointer;
}
#photogalleryShadow {
	/*background:url('../img/boxshadow.png') top center no-repeat transparent;
	height:24px;
	width:660px;*/
}
#photogalleryBox #leftArrow {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:75px;
	background:url('../img/leftArrow.png') center center no-repeat rgba(1,70,139,.5);
	z-index:50;
	cursor:pointer;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	opacity:0;
}
#photogalleryBox #leftArrow:hover {
	opacity:1;
}
#photogalleryBox #rightArrow {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:75px;
	background:url('../img/rightArrow.png') center center no-repeat rgba(49%, 73%, 33%,.5);
	z-index:50;
	cursor:pointer;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	opacity:0;
}
#photogalleryBox #rightArrow:hover {
	opacity:1;
}

#photogalleryBox #playArrow {
	position:absolute;
	top:50%;
	left:50%;
	display:none;
}
#photogalleryBox #playArrow div {
	position:absolute;
	top:-100px;
	left:-100px;
	width:200px;
	height:200px;
	background:url('../img/playArrow.png') center center no-repeat rgba(49%, 73%, 33%,.5);
	border-radius:20px;
	z-index:50;
	cursor:pointer;
}
#photogalleryBox #pauseArrow {
	position:absolute;
	top:50%;
	left:50%;
	display:none;
}
#photogalleryBox #pauseArrow div {
	position:absolute;
	top:-100px;
	left:-100px;
	width:200px;
	height:200px;
	background:url('../img/pauseArrow.png') center center no-repeat rgba(49%, 73%, 33%,.5);
	border-radius:20px;
	z-index:50;
	cursor:pointer;
}
/* end photogallery */


/* news */
#submenu {
	position:absolute;
	top:50px;
	right:-150px;
	width:120px;
}
#submenu ul {
	margin:0;
	padding:0;
	list-style:none;
}
#submenu a {
	color:#aaa;
}
#submenu a:hover {
	color:#3E484C;
}
#submenu a.sel {
	color:#3E484C;
}
#prevNews {
	margin-top:40px;
	float:left;
}
#nextNews {
	margin-top:40px;
	float:right;
}
#prevNews a,#nextNews a {
	color:#ccc;
	font-size:3em;
	padding:10px 30px;
}
#prevNews a:hover,#nextNews a:hover {
	color:#3E484C;
}
#prevNews .title,#nextNews .title {
	display:block;
	position:absolute;
	bottom:30px;
	width:100px;
	font-size:.25em;
	line-height:1.2em;
	opacity:0;
	-webkit-transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
	transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
}
#prevNews .title {
	left:30px;
}
#nextNews .title {
	right:30px;
	text-align:right;
}
#prevNews:hover .title,#nextNews:hover .title {
	bottom:50px;
	opacity:1;
}
/* end news */


/* privatearea */
.loginForm .alert {
	color:#950101;
	text-align:center;
}
.cartNav {
	text-align:center;
	margin-top:20px;
	padding:10px;
}
.alert {
	font-weight:bold;
	color:#ca0000;
}
/* end privatearea */


#instagram_badge {
	position:relative;
	padding:30px 0;
	text-align:center;
}
#instagram_badge h4 {
	position:relative;
	text-align:center;
	padding:0 0 15px 0;
	margin:0;
	z-index:10;
}
#instagram_badge a {
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding:4px;
	margin:6px;
	width:180px;
	height:180px;
	z-index:1;
	transition:opacity .5s ease-in-out;
	color:#aaa;
	background-color:#fff;
	box-shadow:0 1px 3px -1px rgba(0,0,0,.2);
	z-index:100;
	overflow:hidden;
}
#instagram_badge a.selected {
}
#instagram_badge a:hover {
	overflow:visible;
}
#instagram_badge a img {
	width:180px;
	height:180px;
	margin-bottom:10px;
}
#instagram_badge a .text {
	position:absolute;
	opacity:0;
	bottom:80%;
	word-wrap: break-word;
	left:0;
	right:0;
	font-size:12px;
	line-height:1.4em;
	padding:10px;
	color:#fff;
	background-color:#052B40;
	margin-bottom:5px;
	transition:bottom .5s ease-in-out, opacity .3s ease-in-out;
}
#instagram_badge a:hover .text {
	opacity:1;
	bottom:100%;
}
#instagram_badge a .text:after {
	content:'';
	position:absolute;
	width:0;
	height:0;
	bottom:-10px;
	left:45%;
	border-top:10px solid #052B40;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:0;
}

.footerBox {
	padding:40px 0;
	text-align:center;
}
.footerBox h1,
.footerBox h2,
.footerBox h3,
.footerBox h4,
.footerBox h5,
.footerBox h6 {
	margin-top:0;
}
.footerBox p {
	margin:0;
}
.footerBox .thumb {
	box-shadow:0 1px 3px -1px rgba(0,0,0,.2);
}
.footerBox img {
	width:auto;
	height:auto;
	max-height:390px;
}


#kSlideShow {
	width:100%;
	height:450px;
	position:relative;
	background-color:#eee;
	margin-bottom:20px;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.3);
	}
#kSlideShow.small {
	height:300px;
	}
#kSlideShow>div {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	opacity:0;
	transition:opacity .7s ease-in-out;
	}
#kSlideShow>div.current {
	opacity:1;
	}
#kSlideShow .pager {
	position:absolute;
	top:auto;
	bottom:0;
	right:0;
	left:0;
	width:100%;
	padding:0 10px 0 0;
	text-align:center;
	opacity:1;
	height:auto;
	z-index:200;
	}
#kSlideShow .pager>div {
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	margin:4px 2px;
	cursor:pointer;
	border:1px solid #fff;
	box-shadow:0 1px 3px 0 rgba(0,0,0,.3);
	}
#kSlideShow .pager>div.current {
	background-color:#fff;
	}
#kSlideShow .pager>div:hover {
	background-color:#444;
	}

#goToTop {
	width:32px;
	height:32px;
	padding:8px;
	position:fixed;
	bottom:10px;
	right:10px;
	background-color:#464646;
	color:#f7f7f5;
	z-index:1000;
	opacity:0;
	transition:opacity .3s ease-in-out;
}
#goToTop.visible {
	opacity:1;
}

	
/* cookie law */
#cookieLawAlert {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:15px 30px;
    background-color:#052B40;
    color:#fff;
    font-size:.8rem;
    line-height:1.4em;
    text-align:center;
    z-index:1000;
    transition:opacity .8s ease-in;
    overflow:hidden;
}
#cookieLawAlert a {
    color:#fff;
    text-decoration:underline;
}
#cookieLawAlert a:hover {
    color:#ca0000;
}
#cookieLawAlert.hidden {
    opacity:0;
}
#cookieLawConfirm {
    display:inline-block;
    background-color:#E9EEF0;
	color:#000;
    padding:2px 10px;
    font-weight:bold;
    cursor:pointer;
    border-radius:3px;
}
#cookieLawConfirm:hover {
    background-color:#fff;
}
#cookieLawClose {
    display:inline-block;
    width:24px;
    height:24px;
    position:absolute;
    top:6px;
    right:10px;
    cursor:pointer;
    background:url('../img/close.png') center center no-repeat transparent;
} 




/* tablet landscape */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
{
	/* grid */
	.row { width:756px; position:relative; clear:both; margin:0 auto; }
	.grid { margin:0 10px; position:relative; }
	.grid.center {	margin:0 auto !important; }
	.grid.nomargin { margin:0; }
	.grid img,.grid object,.grid element,.grid iframe { max-width:100%; height:auto; }
	.grid object,.grid element,.grid iframe { min-height:400px; }
	.grid object,.grid element { min-height:300px; }
	.grid>h1:first-child,.grid>h2:first-child,.grid>h3:first-child,.grid>h4:first-child,.grid>h5:first-child,.grid>h6:first-child { margin-top:0; }
	.grid.w1 { width:43px; }
	.grid.w2 { width:106px; }
	.grid.w3 { width:169px; }
	.grid.w4 { width:232px; }
	.grid.w5 { width:295px; }
	.grid.w6 { width:358px; }
	.grid.w7 { width:421px; }
	.grid.w8 { width:484px; }
	.grid.w9 { width:547px; }
	.grid.w10 { width:610px; }
	.grid.w11 { width:673px; }
	.grid.w12 { width:736px; }
	.grid.w1.nomargin { width:63px; }
	.grid.w2.nomargin { width:126px; }
	.grid.w3.nomargin { width:189px; }
	.grid.w4.nomargin { width:252px; }
	.grid.w5.nomargin { width:315px; }
	.grid.w6.nomargin { width:378px; }
	.grid.w7.nomargin { width:441px; }
	.grid.w8.nomargin { width:504px; }
	.grid.w9.nomargin { width:567px; }
	.grid.w10.nomargin { width:630px; }
	.grid.w11.nomargin { width:693px; }
	.grid.w12.nomargin { width:756px; }

	header.home .grid.w10 {
		width:696px;
	}
	.onScroll header.home .grid.w10 {
		width:590px;
	}
	header.home .grid.w2 {
		margin:0;
	}
	.onScroll header.home .grid.w2 {
		width:106px;
	}

	h1 {
		font-size:2.5rem;
		}
	h2 {
		font-size:1.7rem;
		}
	h3 {
		font-size:1.5rem;
		}
	h4 {
		font-size:1.3rem;
		}
	h5 {
		font-size:1.2rem;
		}
	h6 {
		font-size:1.1rem;
		}
	.posts {
		padding-left:0;
		padding-right:0;
	}
	.posts .post {
		height:350px;
	}
	.post h2 {
		font-size: .9rem;
		margin-bottom:10px;
	}

	body {
		padding-top:60px;
	}
	header {
		font-size: .8rem;
		padding:15px 0;
	}
	header #logo img {
		min-width: 90px;
		width:80px;
		height: 20px;
	}
	header .navBar ul li a {
		padding:0px 5px;
	}
	header .navBar ul li ul li a {
		padding:10px;
	}
	footer {
	}
	footer .container {
		padding:15px;
	}
	.post {
		font-size:.7rem;
		line-height:1.3em;
		height:400px;
	}
	.post .featuredImage {
		height:120px;
	}
	.post .info {
		margin:0;
	}
	.post .info span {
		padding:0 10px;
		font-size:.5rem;
	}
	.post .excerpt {
		font-size:.6rem;
		line-height:1.3em;
	}
	.navBar {
		font-size: 0.7rem;
	}
	.navBar ul li {
		margin:0;
	}
	.pageContent {
		font-size: 0.9rem;
	}
	
	.mainNews .homeNews.small h2 {
		font-size: 1.3em;
	}
	.mainNews .homeNews .title {
		padding:10px !important;
	}

	#socialshare .share {
		width:48%;
	}
}

/* tablet portrait */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait)
{
}


/* iphone */
@media only screen 
and (max-width : 667px) {
	body {
		font-size:9pt;
		padding-top:50px;
		}

			/* inizio modifica logo mobile */
	#header .logo img {
		display: none !important;
	}
	section#header a.logo h2 {
		margin: 0px 0;
		text-align: center;
		height: 200px;
		background-image: url() !important;
		background-repeat: no-repeat !important;
		background-attachment: initial !important;
		background-position: center !important;
		background-size: contain;
	}
	/* fine modifica logo mobile */
		
		
		
	.row {
		position:relative;
		clear:both;
		margin:0 auto;
		width:720px;
		}
	.grid {
		margin:0 20px;
		position:relative;
		}
	.grid.w1,
	.grid.w2,
	.grid.w3,
	.grid.w4,
	.grid.w5,
	.grid.w6,
	.grid.w7,
	.grid.w8,
	.grid.w9,
	.grid.w10,
	.grid.w11,
	.grid.w12,
	.grid.w1.nomargin,
	.grid.w2.nomargin,
	.grid.w3.nomargin,
	.grid.w4.nomargin,
	.grid.w5.nomargin,
	.grid.w6.nomargin,
	.grid.w7.nomargin,
	.grid.w8.nomargin,
	.grid.w9.nomargin,
	.grid.w10.nomargin,
	.grid.w11.nomargin,
	.grid.w12.nomargin
	{
		width:auto;
		clear:both;
		margin: 20px 0 0 0;
		max-width: 100%;
		padding: 0 20px;
		}
	.row {
		width:auto;
		}
	.column {
		float:none;
		}

	#topstripe .grid {
		margin:0;
		padding:0;
		}
	.topstripe .grid.w12.center {
		display:none;
		}
	#topstripe .socials {
		font-family: "icons";
		float: right;
		position: fixed;
		bottom: 0;
		left: 0;
		text-align: center;
		width: 100%;
		background-color: #fff;
		padding: 10px;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	}

	#header {
		z-index:1500;
		}

	#header .grid {
		margin:0;
		}
	#header .grid.w4.column {
		display:inline-block;
		width:50%;
		}
	#header .logo img {
		max-width:150px;
		height:auto;
		padding-top:0px;
		}
	#header .grid.w4.column.details {
		width:45%;
		padding:0;
		}

	#header .navBar .openMenu {
		position:fixed;
		display:inline-block;
		color:transparent;
		width:30px;
		height:30px;
		background-color:transparent;
		border-top: 7px solid #637078;
		top:10px;
		right:10px;
		z-index:2000;
	}
	#header .navBar .openMenu::before {
		content: "";
		position: absolute;
		top: 4px;
		left:0;
		border-top: 7px solid #637078;
		width: 100%;
		height: 0px;
	}
	#header .navBar .openMenu::after {
		content: "";
		position: absolute;
		bottom: 1px;
		left:0;
		border-top: 7px solid #637078;
		width: 100%;
		height: 0px;
	}

	#header .navBar ul {
		position:fixed;
		left:100%;
		top:0;
		width:100%;
		background-color:#222;
		z-index:90;
		transition: left .3s ease-in-out;
		height: 100%;
		overflow: auto;
		padding-top:50px;
	}
	#header .navBar:hover ul {
		left:0;
	}
	#header .navBar li a {
		text-decoration:none;
		color:#fff !important;
	}
	#header .navBar li.sel {
		background-color:#888;
		border:0;
		box-shadow:none;
	}
	#header .navBar li.sel a {
		background-color:#888;
		border:0;
		box-shadow:none;
		color:#fff;
	}
	#header .navBar ul li {
		position:relative;
		display:block;
		padding:10px;
	}
	#header .navBar ul li ul {
		position:relative;
		top: 0;
		left: 0;
		margin: 0;
		background-color: transparent !important;
		display: block;
		padding: 5px 20px;
		box-shadow: none;
		font-size: 1.2rem;
		border:0;
	}
	#header .navBar ul li ul li {
		background-color:transparent;
		font-size:.7rem;
		line-height:1.1em;
	}
	#header .navBar ul li ul li a {
		white-space:normal;
		padding:5px;
		color:#fff !important;
	}
	#header .navBar ul ul li ul {
		position:relative;
		left: 0;
		display: block;
		background-color: transparent;
		padding: 0 0 10px 20px;
		box-shadow: none;
	}

	.titleBox, .contentBox, .contentsBox {
		padding-left:20px;
		padding-right:20px;
	}

	#footer div {
		float:none !important;
		text-align:left !important;
		}
		
	.languages {
		padding: 10px 10px;
		position: fixed;
		left: 5px;
		bottom: 5px;
	}
	
	#kSlideShow {
		height: 200px;
	}
}

/* iphone landscape */
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) 
and (orientation : landscape) {
}

/* iphone portrait */
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) 
and (orientation : portrait) {
}
