/* (c)2014 Kalamun.org GPLv3 */

@font-face {
    font-family: 'Corbert';
    src: url('fonts/corbert_regular_regular-wf.eot');
    src: url('fonts/corbert_regular_regular-wf.eot?#iefix') format('embedded-opentype'),
         url('fonts/corbert_regular_regular-wf.woff2') format('woff2'),
         url('fonts/corbert_regular_regular-wf.woff') format('woff'),
         url('fonts/corbert_regular_regular-wf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corbert';
    src: url('fonts/Corbert-bold-wf.eot');
    src: url('fonts/Corbert-bold-wf.eot?#iefix') format('embedded-opentype'),
         url('fonts/Corbert-bold-wf.woff2') format('woff2'),
         url('fonts/Corbert-bold-wf.woff') format('woff'),
         url('fonts/Corbert-bold-wf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Corbert';
    src: url('fonts/corbert_italic_italic-wf.eot');
    src: url('fonts/corbert_italic_italic-wf.eot?#iefix') format('embedded-opentype'),
         url('fonts/corbert_italic_italic-wf.woff2') format('woff2'),
         url('fonts/corbert_italic_italic-wf.woff') format('woff'),
         url('fonts/corbert_italic_italic-wf.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
	text-align:justify;
	font-family:"Courier New", Courier, Corbert,Arial,Helvetica,Tahoma,sans-serif;
}


h1,h2,h3,h4,h5,h6 {
	font-family:Corbert,Arial,Helvetica,Tahoma,sans-serif;
	font-weight:normal;
	line-height:1em;
	margin:40px 0 10px 0;
	text-transform:uppercase;
	color:#052B40;
	text-shadow:0 2px 0 #fff;
}
h1 {
	font-size:1.9em;
}
h2 {
	font-size:1.4em;
}
h3 {
	font-size:1.2em;
}
h4 {
	font-size:1.1em;
}
